@charset "utf-8";

html, body{
	margin: 0px;         /* 余白の削除 */
	padding: 0px;        /* 余白の削除 */
	width:100%;
	height:99%;

	background: rgba(245, 245, 245, 1);
}

div{
	margin: 0px;
	padding: 0px;
}

input{
	font-family: Consolas, 'Courier New', Courier, Monaco, monospace;
	vertical-align: bottom;
	font-size: 0.8em;
}

input[type="number"]{
	text-align: right;
	width: 70px;
	direction: rtl;
}

input[type="text"]{
	width: 70px;
}

input[type="checkbox"][disabled] + span{
	color: #707070;
}

button{
	font-size: 0.8em;
}

#editor__background-transparent-view{
	font-size: 75%;
}

#edit-control{
	text-align: right;
	font-size: 120%;
}

.box-container{
	display: flex;
}

.frame{
	margin: 2px;
	padding: 1px;
	border: solid 1px rgba(0, 0, 0, 0.5);
	border-radius: 2px;
}

table th{
	vertical-align: middle;
	text-align: left;
	overflow: visible;
	position: relative;
	font-weight: normal;
}

#property-editor{
	width: 320px;
	font-size: 120%;
}

#canvas-header{
	padding: 5px;
	font-family: Consolas, 'Courier New', Courier, Monaco, monospace;
	font-size: 75%;
}

#editor__element-text{
	resize: vertical;
}

#thumbnail-container{
	border: solid 1px rgba(0, 0, 0, 0.3);
	background: white;
}

#magickcircle_source_num{
	font-family: Consolas, 'Courier New', Courier, Monaco, monospace;
}

#canvas-container{
	border: solid 1px rgba(0, 0, 0, 0.3);
	background: white;
	position:absolute; top:54px; bottom:4px; left:320px; right:4px;
	overflow:	auto;
	cursor: default;
}

#canvas{
	min-height: 90%;
}

#nodocument-message{
	padding: 5px;
}

#apply-button{
	width:100%;
	font-size: 140%;
}

